@model DoAnASP.Models.Account
@{
    ViewData["Title"] = "indexAccount";
}
<div class="container">
    <div>
        <h4>Thông Tin Tài Khoản</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.avatar)
            </dt>
            <dd class="col-sm-10">
                <img class="img-fluid w-100" src="~/image/account/@Html.DisplayFor(model => model.avatar)" alt="">
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Usename)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Usename)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PassWord)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PassWord)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Phone)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.AccountId">Chỉnh sửa thông tin</a> |
    </div>
</div>