@model IEnumerable<DoAnASP.Models.Invoicedetail>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h1>Danh Sách Chi Tiết Hóa Đơn</h1>
    <form asp-controller="Invoicedetails" asp-action="SearchInvoicedetail" method="get">
        <div class="input-group">
            <input type="text" name="SearchInvoicedetail" class="form-control" placeholder="Tìm Kiếm ...">
            <div class="input-group-append">
                <span class="input-group-text bg-transparent text-primary">
                    <button type="submit" class="fa fa-search"></button>
                </span>
            </div>
        </div>
    </form>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Invoice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quanty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Invoice.InvoiceId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quanty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.InvoicedetailId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.InvoicedetailId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.InvoicedetailId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
